@page
@model RegisterModel
@using Rent.Utility
@{
	ViewData["Title"] = "Регистрация";
}
@if (User.IsInRole(StaticDetails.AdminRole))
{
	<center>
		<h1>Регистрация сотрудника</h1>
	</center>
}
else
{
	<center>
		<h1>@ViewData["Title"]</h1>
	</center>
}

<div class="row">
	<center>
		<div class="col-md-4">
			<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
				<h2>Создать учетную запись.</h2>
				<hr />
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
				<div class="form-floating mb-3">
					<input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="Firstname" />
					<label asp-for="Input.FirstName"></label>
					<span asp-validation-for="Input.FirstName" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Lastname" />
					<label asp-for="Input.LastName"></label>
					<span asp-validation-for="Input.LastName" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" placeholder="phonenumber" />
					<label asp-for="Input.PhoneNumber"></label>
					<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="e-mail" />
					<label asp-for="Input.Email"></label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="password" />
					<label asp-for="Input.Password"></label>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="password" />
					<label asp-for="Input.ConfirmPassword">Confirm Password</label>
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
				</div>
				@if (User.IsInRole(StaticDetails.AdminRole))
				{
				<div class="form-floating mb-3">
					<input class="ms-2 m-1" type="radio" name="rdUserRole" value="@StaticDetails.AdminRole" />@StaticDetails.AdminRole
					<input class="ms-2 m-1" type="radio" name="rdUserRole" value="@StaticDetails.RepairManRole" />@StaticDetails.RepairManRole
					<input class="ms-2 m-1" type="radio" name="rdUserRole" value="@StaticDetails.StoreKeeperRole" />@StaticDetails.StoreKeeperRole
				</div>
				}
				<button id="registerSubmit" type="submit" class="w-100 btn btn-warning">Зарегистрироваться</button>
			</form>
		</div>
	</center>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
